SCULPTURE_CONFIG=/opt/sculpture/siren-app/config/sculpture.yaml
SCULPTURE_USER=admin
APP_DIR=/opt/sculpture
ENABLE_PROVISIONING=1
ENABLE_BLE_PROVISIONING=1
ENABLE_BLE_CONTROL=1
ENABLE_RPI_CONNECT=1
PROVISIONING_CONFIG=/opt/sculpture/provisioning/settings/provisioning.yaml
