# Env Defaults
SCULPTURE_CONFIG=/opt/sculpture/siren-app/config/sculpture.yaml
SCULPTURE_USER=admin
APP_DIR=/opt/sculpture
ENABLE_BLE_CONTROL=1

INSTALL_WITTYPI=1
DISABLE_UWI=1
DISABLE_WIFI=0
DISABLE_HDMI=1
WITTYPI_INSTALL_URL=https://www.uugear.com/repo/WittyPi4/install.sh
